<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>余計なものを見ないようにしよう♪</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="#">
</head>

<body>
    <h1>Regret Invoker</h1>
    <div id="app-root">
        <aside>
            <sidebar-item 
                v-for="title in pageTitles" 
                :title="title" 
                :is-active="currentScreenKey === title.key" 
                @changeScreen="currentScreenKey = $event"
            />
        </aside>

        <div v-if="currentScreenKey === 'viewData'" class="main">
            <ul id="view-datas">
                <li v-for="(data, key) in viewDatas">
                    <h3>{{ key }}</h3>
                    <svg :id="key"></svg>
                </li>
            </ul>
        </div>

        <div v-if="currentScreenKey === 'siteUrl'" class="main">
            <div id="site-url-register">
                <input type="text" v-model="siteUrlInput" class="text-input-field" />
                <button class="form-button" @click="registerSiteUrl()">登録</button>
            </div>
            <table id="site-urls">
                <thead>
                    <tr>
                        <th>ホスト名</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="siteUrl in siteUrls">
                        <td>{{ siteUrl }}</td>
                        <td class="fixed-width-cell action-cell" @click="deleteSiteUrl(siteUrl)">削除</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <script src="dist/app.js"></script>
</body>

</html>