<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>余計なものを見ないようにしよう♪</title>
        <link rel="stylesheet" href="#">
        <link rel="icon" href="#">
    </head>
    <body>
        <div id="vue-root">
            <ul id="site-urls">
                <li v-for="siteUrl in siteUrls" @click="addSiteUrl( true )">
                    {{ siteUrl }}
                </li>
            </ul>
            <div id="site-url-register">
                <input type="text" v-model="siteUrlText"/>
                <button @click="registerSiteUrl()">登録</button>
            </div>
        </div>

        <script src="src/vue.js"></script>
        <script src="src/app.js"></script>
    </body>
</html>