body {
  margin: 0px;
}

h1 {
  width: 100%;
  margin-top: 0px;
  padding: 10px 5px;
  background-color: #0E7AC4;
  text-align: center;
  color: #ECEEF1;
}

#app-root{
  width: 1080px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 240px 1fr;
}

/*********************
       Sidebar
*********************/

aside{
  grid-row: 1;
  grid-column: 1;
  margin-right: 15px;
}

.sidebar-item{
  border-bottom: 1px solid #EFEFEF;
  margin: 0px;
  padding: 15px 8px;
  font-size: 14px;
  color: #666;
}

.unselected-sidebar-item {
  border-bottom: 1px solid #EFEFEF;
  margin: 0px;
  padding: 15px 8px;
  font-size: 14px;
  cursor: pointer;
}

.unselected-sidebar-item:hover{
  background-color: #eee;
}

.sidebar-item:last-child, .unselected-sidebar-item:last-child{
  border:none;
}

/*********************
       Main共通
*********************/
.main{
  width: 100%;
  padding: 10px 8px;
}

.text-input-field{
  margin-right: 8px;
  border-radius: 8px;
  border: 1px solid #d2d2d2;
  width: 200px;
  padding: 5px 8px;
}

.text-input-field:focus{
  outline: none;
}

.form-button{
  padding: 2px 16px;
  text-decoration: none;
  color: #67c5ff;
  font-weight: bold;
  background-color: #fff;
  border: solid 2px #67c5ff;
  border-radius: 6px;
  cursor: pointer;
}

.form-button:hover {
  background: #67c5ff;
  color: white;
}

.form-button:focus{
  outline:none;
}

/*********************
    閲覧データ
*********************/
#view-datas li{
  list-style: none;
}

/*********************
    計測対象サイト
*********************/
#site-url-register{
  margin-bottom: 20px;
}

#site-urls{
  width: 480px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}

#site-urls th{
  color: #fff;
  font-weight: normal;
  background-color: #b5b5b5;
  border: 1px solid #979797;
}

#site-urls td{
  border: 1px solid #dddddd;
}

#site-urls th, #site-urls td{
  font-size: 12px;
  padding: 15px 15px;
  text-align: center;
}

#site-urls tr td:first-child{
  text-align: left;
}

.fixed-width-cell{
  width: 50px;
}

.action-cell{
  text-decoration: underline;
  color: #0000ff;
  cursor: pointer;
}