body {
  margin: 0px;
}

h1 {
  width: 100%;
  margin-top: 0px;
  padding: 10px 5px;
  background-color: #0E7AC4;
  text-align: center;
  color: #ECEEF1;
}

#app-root{
  width: 1080px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 240px 1fr;
}

aside{
  grid-row: 1;
  grid-column: 1;
}

.sidebar-item{
  border-bottom: 1px solid #EFEFEF;
  margin: 0px;
  padding: 15px 8px;
  font-size: 14px;
  color: #666;
}

.unselected-sidebar-item {
  border-bottom: 1px solid #EFEFEF;
  margin: 0px;
  padding: 15px 8px;
  font-size: 14px;
  cursor: pointer;
}

.unselected-sidebar-item:hover{
  background-color: #eee;
}

.sidebar-item:last-child, .unselected-sidebar-item:last-child{
  border:none;
}